Repository lv416e/evolab: changes, and which lefthook commands are due for each by the changed paths.
All: format, check-format, lint

format:
  priority: 1
  run: just format-staged {staged_files}
  stage_fixed: true
  fail_text: Code formatting failed. Files have been auto-formatted, please stage and commit again.

check-format:
  priority: 2
  run: just check-format-staged {staged_files}
  fail_text: Code formatting check failed. Run 'just format' to fix.

lint:
  run: just lint-staged ${PRESET:-default} {staged_files}
  fail_text: Static analysis found issues.

refactor(candidate-list): remove redundant guards in build_candidate_lists
  include/evolab/utils/candidate_list.hpp
Due: format, check-format, lint

docs(test): emphasize severity of TSP cache use-after-free bug
  tests/test_candidate_list.cpp
Due: format, check-format

build: enforce GCC 13+ requirement for std::format support
  .github/workflows/ci.yml
  CMakeLists.txt
Due: none

refactor(candidate-list): rename are_mutual_candidates to has_candidate_edge
  include/evolab/utils/candidate_list.hpp
  tests/test_candidate_list.cpp
Due: format, check-format, lint

fix(ci): install and pin GCC 13/G++ 13 for std::format support
  .github/workflows/ci.yml
Due: none

fix(candidate-list): fix nth_element UB and add modern C++23 attributes
  include/evolab/utils/candidate_list.hpp
Due: format, check-format, lint

test(candidate-list): add comprehensive edge case coverage
  tests/test_candidate_list.cpp
Due: format, check-format

fix(candidate-list): add bounds checking to has_candidate_edge
  include/evolab/utils/candidate_list.hpp
Due: format, check-format, lint

test(candidate-list): add direct constructor tests for trivial sizes
  tests/test_candidate_list.cpp
Due: format, check-format

feat(local-search): add delta evaluation optimization for 2-opt
  include/evolab/local_search/two_opt.hpp
  include/evolab/problems/tsp.hpp
  include/evolab/utils/compiler_hints.hpp
  include/evolab/utils/distance_cache.hpp
  tests/CMakeLists.txt
  tests/test_delta_evaluation.cpp
Due: format, check-format, lint

fix: address Gemini code review feedback for delta evaluation
  include/evolab/problems/tsp.hpp
  include/evolab/utils/distance_cache.hpp
  tests/test_delta_evaluation.cpp
Due: format, check-format, lint

fix(distance-cache): use acquire/release memory ordering for correctness
  include/evolab/utils/distance_cache.hpp
Due: format, check-format, lint

test(delta-eval): clear cache before second determinism run
  tests/test_delta_evaluation.cpp
Due: format, check-format

fix(distance-cache): upgrade to 64-bit keys and fix race condition
  include/evolab/utils/distance_cache.hpp
Due: format, check-format, lint

refactor(test): clarify determinism test by reusing original tour
  tests/test_delta_evaluation.cpp
Due: format, check-format

fix(test): properly restore RNG state in determinism test
  tests/test_delta_evaluation.cpp
Due: format, check-format

fix(distance-cache): use proper memory ordering for thread safety
  include/evolab/utils/distance_cache.hpp
Due: format, check-format, lint

refactor(compiler-hints): move macros outside namespace
  include/evolab/utils/compiler_hints.hpp
Due: format, check-format, lint

docs(two-opt): restore infinite loop prevention comment
  include/evolab/local_search/two_opt.hpp
Due: format, check-format, lint

fix: address Gemini review suggestions - documentation and concurrency
  include/evolab/local_search/two_opt.hpp
  include/evolab/problems/tsp.hpp
  tests/test_delta_evaluation.cpp
Due: format, check-format, lint

refactor: simplify DistanceCache::try_get control flow
  include/evolab/utils/distance_cache.hpp
Due: format, check-format, lint

fix: prevent out_value modification on cache miss
  include/evolab/utils/distance_cache.hpp
Due: format, check-format, lint

fix: address Gemini review - MSVC support and comment clarity
  include/evolab/utils/compiler_hints.hpp
  include/evolab/utils/distance_cache.hpp
Due: format, check-format, lint

fix: address CodeRabbit review - include guard and cache size validation
  include/evolab/utils/compiler_hints.hpp
  include/evolab/utils/distance_cache.hpp
Due: format, check-format, lint

fix: address Gemini critical review - thread safety and code quality
  include/evolab/utils/compiler_hints.hpp
  include/evolab/utils/distance_cache.hpp
  tests/test_delta_evaluation.cpp
Due: format, check-format, lint

perf: optimize spinlock with CPU pause instruction
  include/evolab/utils/compiler_hints.hpp
  include/evolab/utils/distance_cache.hpp
Due: format, check-format, lint

fix: prevent readers from observing partial cache entry updates
  include/evolab/utils/distance_cache.hpp
Due: format, check-format, lint

fix: eliminate data race in DistanceCache::try_get() with spinlock
  include/evolab/utils/distance_cache.hpp
Due: format, check-format, lint

perf: optimize DistanceCache::put() synchronization
  include/evolab/utils/distance_cache.hpp
Due: format, check-format, lint

perf: remove redundant std::atomic from CacheEntry members
  include/evolab/utils/distance_cache.hpp
Due: format, check-format, lint

docs: clarify DistanceCache::clear() incremental invalidation semantics
  include/evolab/utils/distance_cache.hpp
Due: format, check-format, lint

refactor: improve code quality based on Gemini MEDIUM priority reviews
  include/evolab/local_search/two_opt.hpp
  include/evolab/utils/distance_cache.hpp
Due: format, check-format, lint

refactor: make DistanceCache::put() and clear() const for API consistency
  include/evolab/utils/distance_cache.hpp
Due: format, check-format, lint

fix: correct concurrency test value function and remove redundant mutable
  include/evolab/utils/distance_cache.hpp
  tests/test_delta_evaluation.cpp
Due: format, check-format, lint

refactor: separate cache clear and stats reset to fix race condition
  include/evolab/problems/tsp.hpp
  include/evolab/utils/distance_cache.hpp
  tests/test_delta_evaluation.cpp
Due: format, check-format, lint

test: enhance cache tests for 32-bit key packing and canonicalization
  tests/test_delta_evaluation.cpp
Due: format, check-format

refactor: improve test portability and robustness
  tests/test_delta_evaluation.cpp
Due: format, check-format

perf: optimize critical section in DistanceCache::try_get()
  include/evolab/utils/distance_cache.hpp
Due: format, check-format, lint

perf: add branch prediction hints for cache hit optimization
  include/evolab/utils/distance_cache.hpp
  tests/test_delta_evaluation.cpp
Due: format, check-format, lint

perf: align CacheEntry to cache line to prevent false sharing
  include/evolab/utils/distance_cache.hpp
Due: format, check-format, lint

Path conditions:
  format: any of: *.{cpp,hpp,cc,cxx,h}
  check-format: any of: *.{cpp,hpp,cc,cxx,h}
  lint: any of: *.{hpp,h}
