Repository lv416e/evolab: changes, and which lefthook commands are due for each by the changed paths.
All: format, check-format, lint

format:
  priority: 1
  run: just format-staged {staged_files}
  stage_fixed: true
  fail_text: Code formatting failed. Files have been auto-formatted, please stage and commit again.

check-format:
  priority: 2
  run: just check-format-staged {staged_files}
  fail_text: Code formatting check failed. Run 'just format' to fix.

lint:
  run: just lint-staged ${PRESET:-default} {staged_files}
  fail_text: Static analysis found issues.

fix(numa): add default case to deallocation switch to resolve warnings
  include/evolab/utils/numa_allocator.hpp
Due: format, check-format, lint

fix(population): implement strong exception safety for push_back operations
  include/evolab/core/population.hpp
Due: format, check-format, lint

fix(numa): enhance allocator robustness and debug capabilities
  include/evolab/utils/numa_allocator.hpp
Due: format, check-format, lint

fix(core,numa): address high-priority Gemini and CodeRabbit findings
  include/evolab/core/population.hpp
  include/evolab/utils/numa_allocator.hpp
Due: format, check-format, lint

fix(core,numa): address CodeRabbit nitpicks and critical build issue
  include/evolab/core/population.hpp
  include/evolab/utils/numa_allocator.hpp
Due: format, check-format, lint

refactor(numa): eliminate code duplication with DRY helper function
  include/evolab/utils/numa_allocator.hpp
Due: format, check-format, lint

polish(numa): apply CodeRabbit nitpick improvements for robustness
  include/evolab/utils/numa_allocator.hpp
Due: format, check-format, lint

fix(numa): address final CodeRabbit security and robustness issues
  include/evolab/utils/numa_allocator.hpp
Due: format, check-format, lint

fix(numa): harden alignment precondition for release builds
  include/evolab/utils/numa_allocator.hpp
Due: format, check-format, lint

perf(numa): add static caching to create_owned_island_resource
  include/evolab/utils/numa_allocator.hpp
Due: format, check-format, lint

fix(numa): prevent topology freezing in create_owned_island_resource
  include/evolab/utils/numa_allocator.hpp
Due: format, check-format, lint

fix(numa): use numa_get_mems_allowed() and remove thread_local caching
  include/evolab/utils/numa_allocator.hpp
Due: format, check-format, lint

ci: add Windows job to cover MSVC aligned allocation path
  .github/workflows/ci.yml
Due: none

fix(ci): correct Windows CMake configure syntax
  .github/workflows/ci.yml
Due: none

fix(core): improve edge case handling and contract compliance
  include/evolab/core/ga.hpp
  include/evolab/utils/numa_allocator.hpp
Due: format, check-format, lint

feat(ci): add comprehensive NUMA testing and factory improvements
  .github/workflows/ci.yml
  include/evolab/utils/numa_allocator.hpp
Due: format, check-format, lint

fix: address Gemini code review feedback for clarity and safety
  include/evolab/core/concepts.hpp
  include/evolab/core/ga.hpp
  include/evolab/operators/selection.hpp
  include/evolab/utils/numa_allocator.hpp
  tests/test_operators.cpp
Due: format, check-format, lint

fix: address CodeRabbit critical and nitpick feedback
  .github/workflows/ci.yml
  include/evolab/operators/selection.hpp
  tests/test_operators.cpp
Due: format, check-format, lint

perf(selection): add micro-optimizations for tournament and rank selection
  include/evolab/operators/selection.hpp
Due: format, check-format, lint

ci: enhance diagnostics and robustness in testing workflow
  .github/workflows/ci.yml
Due: none

test: add sanity check for tournament selection count validation
  tests/test_operators.cpp
Due: format, check-format

refactor(selection): remove unnecessary nextafter calls in distribution bounds
  include/evolab/operators/selection.hpp
Due: format, check-format, lint

fix(selection): reorder unreachable() to emit compiler hints before terminate
  include/evolab/operators/selection.hpp
Due: format, check-format, lint

docs(selection): fix rank selection probability formula in documentation
  include/evolab/operators/selection.hpp
Due: format, check-format, lint

test(candidate-list): add comprehensive k-NN candidate list test suite
  tests/CMakeLists.txt
  tests/test_candidate_list.cpp
Due: format, check-format

fix(test): address all code review feedback for candidate list tests
  tests/CMakeLists.txt
  tests/test_candidate_list.cpp
Due: format, check-format

test(candidate-list): add structural equality checks for cache validation
  tests/test_candidate_list.cpp
Due: format, check-format

refactor(test): remove unused algorithm header from candidate list tests
  tests/test_candidate_list.cpp
Due: format, check-format

test(candidate-list): address Gemini code review feedback
  tests/test_candidate_list.cpp
Due: format, check-format

fix(test): address all Gemini code review feedback
  include/evolab/utils/candidate_list.hpp
  tests/test_candidate_list.cpp
Due: format, check-format, lint

refactor(test): address latest Gemini review feedback
  include/evolab/utils/candidate_list.hpp
  tests/test_candidate_list.cpp
Due: format, check-format, lint

Update tests/test_candidate_list.cpp
  tests/test_candidate_list.cpp
Due: format, check-format

refactor(test): modernize test code with C++23 std::format
  tests/test_candidate_list.cpp
Due: format, check-format

refactor(test): compute expected k for maintainability
  tests/test_candidate_list.cpp
Due: format, check-format

docs(candidate-list): clarify performance trade-offs in comment
  include/evolab/utils/candidate_list.hpp
Due: format, check-format, lint

test(candidate-list): add ASan-based use-after-free demonstration test
  tests/test_candidate_list.cpp
Due: format, check-format

docs(candidate-list): clarify are_mutual_candidates OR logic
  include/evolab/utils/candidate_list.hpp
Due: format, check-format, lint

refactor(test): remove magic numbers in TSP integration test
  tests/test_candidate_list.cpp
Due: format, check-format

perf(candidate-list): optimize get_all_candidate_pairs with vector approach
  include/evolab/utils/candidate_list.hpp
Due: format, check-format, lint

fix(candidate-list): prevent underflow and log(0) for trivial instances
  include/evolab/utils/candidate_list.hpp
Due: format, check-format, lint

Path conditions:
  format: any of: *.{cpp,hpp,cc,cxx,h}
  check-format: any of: *.{cpp,hpp,cc,cxx,h}
  lint: any of: *.{hpp,h}
