Repository lv416e/evolab: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# EvoLab Git Hooks Configuration with Lefthook
# Fast, parallel git hooks for C++23 development

# Pre-commit hooks - run before each commit
pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{cpp,hpp,cc,cxx,h}"
      run: find {staged_files} -name "*.hpp" -o -name "*.cpp" | xargs clang-format -i --style=file
      stage_fixed: true
      fail_text: "Code formatting failed. Files have been auto-formatted, please stage and commit again."

    build-check:
      run: cmake --build build --parallel 4 --config Release 2>/dev/null || (echo "Build failed! Fix compilation errors before committing." && exit 1)
      fail_text: "Build failed! Please fix compilation errors."

    lint:
      glob: "*.{hpp,h}"
      run: |
        if [ -f build/compile_commands.json ]; then
          find {staged_files} -name "*.hpp" | head -10 | xargs clang-tidy --config-file=.clang-tidy -p build --quiet || true
        else
          echo "⚠️  No compilation database found. Run: cmake -B build -S . -DCMAKE_EXPORT_COMPILE_COMMANDS=ON"
        fi
      fail_text: "Static analysis found issues (non-blocking)."

# Pre-push hooks - run before pushing to remote
pre-push:
  commands:
    tests:
      run: |
        if [ -d build ] && [ -f build/tests/test_core ]; then
          echo "Running tests..."
          cd build/tests && ./test_core && ./test_tsp && ./test_operators
        else
          echo "⚠️  Tests not found. Run: cmake --build build --parallel 4"
        fi
      fail_text: "Tests failed! Fix failing tests before pushing."

# Skip hooks for specific scenarios
skip_output:
  - meta
  - execution

# Colors for output
colors: true

tweak
  lefthook.yml
Due: none

tweak
  .clang-format
  .clang-tidy
  lefthook.yml
Due: none

tweak
  .clang-format
  .clang-tidy
  .github/workflows/ci.yml
  .gitignore
  .mcp.json
  .pre-commit-config.yaml
  CLAUDE.md
  CMakeLists.txt
  CONTRIBUTING.md
  README.md
  apps/CMakeLists.txt
  apps/tsp_main.cpp
  benchmarks/CMakeLists.txt
  cmake/EvoLabConfig.cmake.in
  lefthook.yml
  tests/CMakeLists.txt
Due: format

tweak
  .github/workflows/ci.yml
Due: none

tweak
  .github/workflows/ci.yml.disabled
  .github/workflows/release.yml.disabled
Due: none

Fix C++23 compilation errors and warnings
  include/evolab/core/ga.hpp
  include/evolab/local_search/two_opt.hpp
  include/evolab/operators/crossover.hpp
  include/evolab/operators/mutation.hpp
Due: format, lint

Test lefthook format hook
  temp_test.cpp
Due: format

tweak
  lefthook.yml
  temp_test.cpp
Due: format

feat: add comprehensive development workflow and tooling (#8)
  .clang-format
  .clang-tidy
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  CMakeLists.txt
  CONTRIBUTING.md
  README.md
  apps/CMakeLists.txt
  apps/tsp_main.cpp
  benchmarks/CMakeLists.txt
  cmake/EvoLabConfig.cmake.in
  include/evolab/core/concepts.hpp
  include/evolab/core/ga.hpp
  include/evolab/evolab.hpp
  include/evolab/local_search/two_opt.hpp
  include/evolab/operators/crossover.hpp
  include/evolab/operators/mutation.hpp
  include/evolab/operators/selection.hpp
  include/evolab/problems/tsp.hpp
  lefthook.yml
  tests/CMakeLists.txt
  tests/test_core.cpp
  tests/test_operators.cpp
  tests/test_tsp.cpp
Due: format, lint

Add Kiro steering documents for spec-driven development
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Due: none

feat: implement EAX (Edge Assembly Crossover) for TSP
  include/evolab/operators/crossover.hpp
  tests/test_operators.cpp
Due: format, lint

Add .kiro/specs/ to .gitignore
  .gitignore
Due: none

Fix EAX crossover infinite loop issue
  include/evolab/operators/crossover.hpp
Due: format, lint

Add candidate list optimization for TSP
  include/evolab/evolab.hpp
  include/evolab/local_search/two_opt.hpp
  include/evolab/problems/tsp.hpp
  include/evolab/utils/candidate_list.hpp
Due: format, lint

Add comprehensive GitHub PR template
  .github/pull_request_template.md
Due: none

docs: establish comprehensive PR title conventions
  .kiro/steering/pr-conventions.md
  CLAUDE.md
Due: none

Update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Clean up pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix formatting in pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

tweak
  .gitignore
Due: none

perf(candidate-list): implement Gemini review suggestions
  include/evolab/local_search/two_opt.hpp
  include/evolab/operators/crossover.hpp
  include/evolab/problems/tsp.hpp
  include/evolab/utils/candidate_list.hpp
Due: format, lint

tweak
  .gitignore
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  include/evolab/utils/candidate_list.hpp
  lefthook.yml
Due: format, lint

Update include/evolab/utils/candidate_list.hpp
  include/evolab/utils/candidate_list.hpp
Due: format, lint

perf(core): optimize GA framework with configurable diversity tracking
  .gitignore
  include/evolab/core/ga.hpp
  tests/test_core.cpp
Due: format, lint

fix(operators): resolve EAX crossover infinite loop issue
  include/evolab/operators/crossover.hpp
Due: format, lint

fix(operators): address Gemini review feedback on EAX crossover
  include/evolab/core/ga.hpp
  include/evolab/operators/crossover.hpp
  tests/test_core.cpp
Due: format, lint

fix(crossover): resolve PMX infinite loop and re-enable basic GA test
  include/evolab/core/ga.hpp
  include/evolab/operators/crossover.hpp
  tests/test_core.cpp
Due: format, lint

feat(config): make diversity max_samples configurable and add EAX validation
  include/evolab/core/ga.hpp
  include/evolab/operators/crossover.hpp
Due: format, lint

fix(operators): balance EAX edge selection to avoid parent1 bias
  include/evolab/operators/crossover.hpp
Due: format, lint

fix(operators): remove parent1 bias in EAX edge repair
  include/evolab/operators/crossover.hpp
Due: format, lint

Update include/evolab/operators/crossover.hpp
  include/evolab/operators/crossover.hpp
Due: format, lint

feat(io): add comprehensive TSPLIB format parser
  include/evolab/evolab.hpp
  include/evolab/io/tsplib.hpp
  include/evolab/schedulers/mab.hpp
  tests/CMakeLists.txt
  tests/test_schedulers.cpp
Due: format, lint

test(io): add comprehensive TSPLIB parser test suite
  include/evolab/evolab.hpp
  tests/CMakeLists.txt
  tests/test_tsplib.cpp
Due: format, lint

Update include/evolab/io/tsplib.hpp
  include/evolab/io/tsplib.hpp
Due: format, lint
