Repository lv416e/evolab: changes, and which lefthook commands are due for each by the changed paths.
All: format, check-format, lint

format:
  priority: 1
  run: just format-staged {staged_files}
  stage_fixed: true
  fail_text: Code formatting failed. Files have been auto-formatted, please stage and commit again.

check-format:
  priority: 2
  run: just check-format-staged {staged_files}
  fail_text: Code formatting check failed. Run 'just format' to fix.

lint:
  run: just lint-staged ${PRESET:-default} {staged_files}
  fail_text: Static analysis found issues.

perf(tests): enhance parallel performance benchmarking methodology
  tests/test_parallel.cpp
Due: format, check-format

test(parallel): add comprehensive correctness verification to test suite
  tests/test_parallel.cpp
Due: format, check-format

refactor: apply selective improvements from Gemini code review
  include/evolab/parallel/tbb_executor.hpp
  tests/CMakeLists.txt
Due: format, check-format, lint

refactor: improve const-correctness by removing unnecessary mutable specifiers
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

perf(tests): improve theoretical computation comment and median calculation robustness
  tests/test_parallel.cpp
Due: format, check-format

docs(parallel): enhance golden ratio prime comment with mathematical explanation
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

test(parallel): enforce strict floating-point equality for deterministic validation
  tests/test_parallel.cpp
Due: format, check-format

refactor(parallel): standardize include path to use project-relative syntax
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

refactor(parallel): improve lambda captures with explicit variable capture
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

fix(parallel): add required headers to TBB fallback implementation
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

docs: add technical decision document for TBBExecutor concurrent determinism analysis
  docs/technical-decisions/README.md
  docs/technical-decisions/tbb-executor-concurrent-determinism-analysis.md
Due: none

tweak
  docs/technical-decisions/README.md
Due: none

docs: add TBBExecutor thread safety analysis and design improvement strategy
  docs/technical-decisions/tbb-executor-thread-safety-analysis.md
Due: none

docs: update technical decisions index for TDD-2025-002
  docs/technical-decisions/README.md
Due: none

refactor(parallel): implement const-correct stateless TBBExecutor design
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

fix(tests): rename misleading test function and update for stateless design
  tests/test_parallel.cpp
Due: format, check-format

docs: update TDD status to reflect implementation completion
  docs/technical-decisions/README.md
  docs/technical-decisions/tbb-executor-concurrent-determinism-analysis.md
  docs/technical-decisions/tbb-executor-thread-safety-analysis.md
Due: none

docs: fix TDD inconsistency between status and implementation strategy
  docs/technical-decisions/tbb-executor-thread-safety-analysis.md
Due: none

fix: address Gemini review feedback with documentation and test improvements
  docs/technical-decisions/tbb-executor-thread-safety-analysis.md
  tests/test_parallel.cpp
Due: format, check-format

docs: fix remaining TDD inconsistency for const-correct stateless design
  docs/technical-decisions/tbb-executor-thread-safety-analysis.md
Due: none

refactor(test): improve stateless design test with direct executor reuse
  tests/test_parallel.cpp
Due: format, check-format

docs: fix TDD inconsistencies identified by Gemini review ID 3202320881
  docs/technical-decisions/tbb-executor-concurrent-determinism-analysis.md
  docs/technical-decisions/tbb-executor-thread-safety-analysis.md
Due: none

docs: add comprehensive README.md as documentation navigation hub
  docs/README.md
Due: none

docs: add comprehensive getting-started guide with current API examples
  docs/getting-started.md
Due: none

docs: add compilable examples directory with practical usage patterns
  docs/examples/README.md
  docs/examples/basic-tsp.cpp
  docs/examples/config-based.cpp
  docs/examples/parallel-evaluation.cpp
Due: format, check-format

docs: remove premature examples/ and verbose getting-started.md
  docs/examples/README.md
  docs/examples/basic-tsp.cpp
  docs/examples/config-based.cpp
  docs/examples/parallel-evaluation.cpp
  docs/getting-started.md
Due: format, check-format

docs: simplify main documentation index
  docs/README.md
Due: none

docs: condense technical-decisions index for clarity
  docs/technical-decisions/README.md
Due: none

docs: condense TBB executor technical decisions for readability
  docs/technical-decisions/tbb-executor-concurrent-determinism-analysis.md
  docs/technical-decisions/tbb-executor-thread-safety-analysis.md
Due: none

test: rename function to reflect stateless design
  tests/test_parallel.cpp
Due: format, check-format

fix: add POSIX-compliant newline at end of tbb_executor.hpp
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

refactor(test): modernize assertion messages with std::format
  tests/test_parallel.cpp
Due: format, check-format

refactor(test): complete std::format conversion for assertion consistency
  tests/test_parallel.cpp
Due: format, check-format

fix(parallel): replace std::false_type with template-dependent false in static_assert
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

refactor(parallel): unify template constraints between TBB and fallback implementations
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

fix(parallel): maintain seed consistency in fallback TBBExecutor::get_seed()
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

feat(parallel): enforce deterministic execution with static_partitioner for scientific computing
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

feat(parallel): implement per-genome RNG seeding for maximum stochastic reproducibility
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

refactor(parallel): improve code quality with C++23 best practices
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

Path conditions:
  format: any of: *.{cpp,hpp,cc,cxx,h}
  check-format: any of: *.{cpp,hpp,cc,cxx,h}
  lint: any of: *.{hpp,h}
