Repository lv416e/evolab: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# EvoLab Git Hooks Configuration with Lefthook
# Fast, parallel git hooks for C++23 development

# Pre-commit hooks - run before each commit
pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{cpp,hpp,cc,cxx,h}"
      run: clang-format -i --style=file {staged_files}
      stage_fixed: true
      fail_text: "Code formatting failed. Files have been auto-formatted, please stage and commit again."

    build-check:
      run: cmake --build build --parallel 4 --config Release 2>/dev/null || (echo "Build failed! Fix compilation errors before committing." && exit 1)
      fail_text: "Build failed! Please fix compilation errors."

    lint:
      glob: "*.{hpp,h}"
      run: |
        if [ -f build/compile_commands.json ]; then
          find {staged_files} -name "*.hpp" 2>/dev/null | head -10 | xargs -r clang-tidy --config-file=.clang-tidy -p build --quiet || true
        else
          echo "⚠️  No compilation database found. Run: cmake -B build -S . -DCMAKE_EXPORT_COMPILE_COMMANDS=ON"
        fi
      fail_text: "Static analysis found issues (non-blocking)."

pre-push:
  parallel: true
  commands:
    changed-check:
      run: |
        if ! git diff --name-only --cached | grep -Eq '^(src|include|apps|tests)/.*\.(c|cc|cpp|cxx|h|hpp)$'; then
          echo "No code changes. Skipping build & tests."
          exit 0
        fi

    cmake-configure:
      run: |
        if [ ! -d build ]; then
          cmake -S . -B build -G Ninja \
                -DCMAKE_BUILD_TYPE=Release \
                -DCMAKE_EXPORT_COMPILE_COMMANDS=ON \
                -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
        fi

    build:
      run: cmake --build build --parallel

    test:
      run: |
        CORES=$(getconf _NPROCESSORS_ONLN 2>/dev/null || sysctl -n hw.ncpu)
        ctest --test-dir build --output-on-failure --stop-on-failure -j "${CORES:-4}" --timeout 120 -L smoke

# Skip hooks for specific scenarios
skip_output:
  - meta
  - execution

# Colors for output
colors: true

feat(factory): add crossover-specific factory functions with local search
  include/evolab/evolab.hpp
Due: format, lint

feat(main): implement dynamic crossover operator selection
  apps/tsp_main.cpp
Due: format

fix: remove unused unistd.h header and improve error message readability
  apps/tsp_main.cpp
  include/evolab/problems/tsp.hpp
Due: format, lint

refactor: consolidate diversity tracking configuration
  configs/advanced.toml
  configs/experimental.toml
  configs/high_performance.toml
  include/evolab/config/config.hpp
  tests/test_config.cpp
  tests/test_config_integration.cpp
Due: format, lint

feat(logging): implement track_operator_performance and save_population_snapshots configuration support
  include/evolab/config/config.hpp
  include/evolab/core/ga.hpp
Due: format, lint

docs(config): clarify Configuration Priority Pattern intent in to_ga_config()
  include/evolab/config/config.hpp
Due: format, lint

refactor: address final Gemini code review feedback
  CMakeLists.txt
  include/evolab/problems/tsp.hpp
Due: format, lint

feat(apps): implement JSON error transparency with RFC 9457 compliance
  apps/tsp_main.cpp
Due: format

refactor(config): standardize elite_ratio naming across entire codebase
  configs/advanced.toml
  configs/basic.toml
  configs/experimental.toml
  configs/high_performance.toml
  include/evolab/config/config.hpp
  tests/test_config.cpp
  tests/test_config_integration.cpp
Due: format, lint

fix(config): resolve integer overflow in time limit conversion
  include/evolab/config/config.hpp
Due: format, lint

fix(factory): correct TwoOpt parameter in factory functions
  include/evolab/evolab.hpp
Due: format, lint

docs(cli): add config algorithm to help documentation
  apps/tsp_main.cpp
Due: format

feat(cli): implement C++23 format library and config algorithm validation
  apps/tsp_main.cpp
Due: format

docs(config): enhance configuration system documentation and type safety
  include/evolab/config/config.hpp
Due: format, lint

feat(build): add modern justfile task runner for C++23 development workflow
  justfile
Due: none

feat(build): add CMakePresets.json for modern C++23 build configuration
  CMakePresets.json
Due: none

refactor(build): integrate justfile with CMake Presets for modern workflow
  justfile
Due: none

fix(cmake): update CMake version requirement and implement preset inheritance
  CMakePresets.json
Due: none

feat(build): enhance justfile with 2025 C++23 best practices
  justfile
Due: none

feat(hooks): integrate lefthook with justfile for 2025 C++23 best practices
  justfile
  lefthook.yml
Due: none

refactor(justfile): complete emoji removal and professionalize help section
  justfile
Due: none

refactor(lefthook): remove year reference from header comment
  lefthook.yml
Due: none

refactor(build): implement Gemini-validated C++23 best practices improvements
  CMakePresets.json
  justfile
  lefthook.yml
Due: none

refactor(justfile): modernize with 2025 best practices for C++23 development
  justfile
Due: none

style(justfile): remove promotional language from recipe comments
  justfile
Due: none

fix(build): address Gemini review feedback with C++23 best practices
  CMakePresets.json
  justfile
Due: none

fix(cmake): align minimum required version with CMakePresets.json
  CMakeLists.txt
Due: none

fix(justfile): improve shell safety in lint recipe
  justfile
Due: none

feat(justfile): modernize C++23 modules and features support
  justfile
Due: none

refactor(cmake): implement inheritance pattern for debug presets
  CMakePresets.json
Due: none

docs(justfile): modernize comments with 2025 best practices
  justfile
Due: none

tweak
  lefthook.yml
Due: none

fix(ci): resolve critical race condition in lefthook and improve justfile maintainability
  justfile
  lefthook.yml
Due: none

fix(cmake): resolve FetchContent SSL timeout with URL_HASH and timeout settings
  CMakeLists.txt
Due: none

fix(hooks): resolve critical race conditions in parallel execution
  justfile
  lefthook.yml
Due: none

refactor(parallel): address code review feedback for TBB implementation
  CMakeLists.txt
  include/evolab/parallel/tbb_executor.hpp
  tests/CMakeLists.txt
Due: format, lint

feat(parallel): implement TBB parallel fitness evaluation with reproducible results
  CMakeLists.txt
  include/evolab/parallel/tbb_executor.hpp
  tests/CMakeLists.txt
  tests/test_parallel.cpp
Due: format, lint

fix(parallel): replace unsafe lambda capture with explicit captures for thread safety
  include/evolab/parallel/tbb_executor.hpp
Due: format, lint

fix(parallel): ensure true cross-execution reproducibility in TBBExecutor
  include/evolab/parallel/tbb_executor.hpp
Due: format, lint

refactor(tests): improve code quality with explicit namespace management and static linkage
  tests/test_parallel.cpp
Due: format
