Repository lv416e/evolab: changes, and which lefthook commands are due for each by the changed paths.
All: format, check-format, lint

format:
  priority: 1
  run: just format-staged {staged_files}
  stage_fixed: true
  fail_text: Code formatting failed. Files have been auto-formatted, please stage and commit again.

check-format:
  priority: 2
  run: just check-format-staged {staged_files}
  fail_text: Code formatting check failed. Run 'just format' to fix.

lint:
  run: just lint-staged ${PRESET:-default} {staged_files}
  fail_text: Static analysis found issues.

refactor: improve code quality based on CodeRabbit review
  include/evolab/local_search/lk.hpp
  tests/test_lk_integration.cpp
Due: format, check-format, lint

refactor: improve headers and API quality
  include/evolab/local_search/lk.hpp
  tests/test_lk_integration.cpp
Due: format, check-format, lint

chore(config): add MCP server configuration
  .mcp.json
Due: none

feat(claude): add Claude Code slash commands and settings
  .claude/commands/kiro/spec-design.md
  .claude/commands/kiro/spec-impl.md
  .claude/commands/kiro/spec-init.md
  .claude/commands/kiro/spec-requirements.md
  .claude/commands/kiro/spec-status.md
  .claude/commands/kiro/spec-tasks.md
  .claude/commands/kiro/steering-custom.md
  .claude/commands/kiro/steering.md
  .claude/commands/kiro/validate-design.md
  .claude/commands/kiro/validate-gap.md
  .claude/commands/projects/gemini-review.md
Due: none

feat(kiro): add spec-driven development workflow system
  .kiro/specs/evolab/design.md
  .kiro/specs/evolab/overview.md
  .kiro/specs/evolab/requirements.md
  .kiro/specs/evolab/tasks.md
  .kiro/steering/pr-conventions.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Due: none

chore(git): enable tracking of development workflow files
  .gitignore
Due: none

feat(mab): add LocalSearchOperator concept and AdaptiveLocalSearchSelector
  include/evolab/evolab.hpp
  include/evolab/schedulers/mab.hpp
  tests/CMakeLists.txt
  tests/test_helper.hpp
  tests/test_mab_local_search.cpp
Due: format, check-format, lint

docs(tasks): mark Task 6.2 as complete
  .kiro/specs/evolab/tasks.md
Due: none

fix(mab): add bounds checking in apply_local_search to prevent reward corruption
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

refactor(mab): use move semantics and mutable lambda in add_operator
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

refactor(test): extract TSP instance creation to helper struct
  tests/test_mab_local_search.cpp
Due: format, check-format

fix(mab): add empty operator checks to prevent crashes
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

fix(mab): prevent adding more operators than configured capacity
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

refactor(test): use stat.success_rate directly instead of recalculating
  tests/test_mab_local_search.cpp
Due: format, check-format

refactor(mab): remove duplicate LocalSearchOperator concept
  include/evolab/schedulers/mab.hpp
  tests/test_mab_local_search.cpp
Due: format, check-format, lint

fix(mab): add tracking state checks to prevent API misuse
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

refactor(mab): improve robustness and exception safety
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

perf(mab): measure only operator execution time, excluding validation
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

docs(mab): document future refactoring consideration
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

refactor(mab): apply pass-by-value-and-move idiom to add_operator
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

fix(tests): add double overload for assert_ge and improve test robustness
  tests/test_helper.hpp
  tests/test_mab_local_search.cpp
Due: format, check-format, lint

docs(mab): document future LocalSearchOperator concept extension
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

feat(mab): improve AdaptiveOperatorSelector consistency and robustness
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

docs(mab): enhance refactoring TODO with detailed analysis and rationale
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

refactor(mab): remove duplicate CrossoverOperator concept definition
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

fix(test): correct operation-report interleaving in hybrid MAB test
  tests/test_mab_local_search.cpp
Due: format, check-format

feat(test): add assert_lt overload for double values
  tests/test_helper.hpp
Due: format, check-format, lint

test(mab): strengthen local search improvement assertion
  tests/test_mab_local_search.cpp
Due: format, check-format

refactor(mab): remove AI tool reference from TODO comment
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

refactor(mab): remove AI tool reference from design TODO
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

docs(mab): add minimization assumption comment for consistency
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

refactor(test): remove TDD RED prefixes from test comments
  tests/test_mab_local_search.cpp
Due: format, check-format

fix(test): add missing <numeric> header for std::iota
  tests/test_mab_local_search.cpp
Due: format, check-format

refactor(mab): add forward declarations for get_thread_rng()
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

refactor(test): introduce test fixtures for MAB local search tests
  tests/test_mab_local_search.cpp
Due: format, check-format

docs(mab): add TODO for aggregate timing metrics in OperatorStats
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

refactor(mab): deduplicate get_thread_rng() as namespace-level function
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

test(mab): add comprehensive error handling tests
  tests/test_mab_local_search.cpp
Due: format, check-format

feat(mab): add num_operators validation to AdaptiveOperatorSelector
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

feat(mab): add num_operators validation to AdaptiveLocalSearchSelector
  include/evolab/schedulers/mab.hpp
Due: format, check-format, lint

Path conditions:
  format: any of: *.{cpp,hpp,cc,cxx,h}
  check-format: any of: *.{cpp,hpp,cc,cxx,h}
  lint: any of: *.{hpp,h}
