Repository lv416e/evolab: changes, and which lefthook commands are due for each by the changed paths.
All: format, check-format, lint

lefthook.yml:

# EvoLab Git Hooks Configuration with Lefthook
# C++23 development with justfile integration

# Pre-commit hooks - run before each commit
pre-commit:
  piped: true
  commands:
    format:
      priority: 1
      glob: "*.{cpp,hpp,cc,cxx,h}"
      run: just format-staged {staged_files}
      stage_fixed: true
      fail_text: "Code formatting failed. Files have been auto-formatted, please stage and commit again."

    check-format:
      priority: 2
      glob: "*.{cpp,hpp,cc,cxx,h}"
      run: just check-format-staged {staged_files}
      fail_text: "Code formatting check failed. Run 'just format' to fix."

    build-check:
      # Use default preset for pre-commit to ensure fast feedback during development
      run: PRESET=${PRESET:-default} just build
      fail_text: "Build failed! Please fix compilation errors."

    lint:
      glob: "*.{hpp,h}"
      # Use default preset for linting - faster than release build for development workflow
      run: just lint-staged ${PRESET:-default} {staged_files}
      fail_text: "Static analysis found issues."

pre-push:
  parallel: true
  commands:
    changed-check:
      run: |
        if ! git diff --name-only @{u}..HEAD | grep -Eq '^(src|include|apps|tests)/.*\.(c|cc|cpp|cxx|h|hpp)$'; then
          echo "No code changes detected. Skipping build & tests."
          exit 0
        fi

    build:
      # Use release preset for pre-push to catch optimization-related issues before sharing
      run: PRESET=${PRESET:-release} just build
      fail_text: "Pre-push build failed! Fix compilation errors before pushing."

    test:
      # Use release preset for comprehensive testing with optimizations enabled
      run: PRESET=${PRESET:-release} just test
      fail_text: "Tests failed! Fix failing tests before pushing."

# Skip hooks for specific scenarios
skip_output:
  - meta
  - execution

# Colors for output
colors: true

refactor(parallel): remove unused atomic header
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

refactor(parallel): remove unused RNG infrastructure from TBBExecutor
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

docs(parallel): align documentation with implementation after RNG removal
  include/evolab/parallel/tbb_executor.hpp
  tests/test_parallel.cpp
Due: format, check-format, lint

fix(test): improve test exit code handling for proper CI/CD failure detection
  tests/test_parallel.cpp
Due: format, check-format

fix(docs,parallel): improve documentation accuracy and C++23 compliance
  docs/technical-decisions/tbb-executor-concurrent-determinism-analysis.md
  docs/technical-decisions/tbb-executor-thread-safety-analysis.md
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

refactor(parallel): remove unused header and add POSIX-compliant newline
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

fix(test): add POSIX-compliant newline at end of test_parallel.cpp
  tests/test_parallel.cpp
Due: format, check-format

refactor(test): modernize test_parallel.cpp with C++20 std::ranges
  tests/test_parallel.cpp
Due: format, check-format

docs: fix POSIX compliance for technical decision documents
  docs/technical-decisions/README.md
  docs/technical-decisions/tbb-executor-concurrent-determinism-analysis.md
  docs/technical-decisions/tbb-executor-thread-safety-analysis.md
Due: none

docs: fix POSIX compliance for main documentation README
  docs/README.md
Due: none

refactor(parallel): replace static_assert(false) with #error for TBB dependency
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

feat(parallel): modernize API with std::span parameter following C++ Core Guidelines
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

perf(parallel): optimize lambda capture of std::span parameter by value
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

docs(test): clarify distinct regression protection purposes of stateless tests
  tests/test_parallel.cpp
Due: format, check-format

refactor(test): remove redundant test block following Gemini code review
  tests/test_parallel.cpp
Due: format, check-format

refactor(test): remove redundant review comment following Clean Code principles
  tests/test_parallel.cpp
Due: format, check-format

fix(test): implement overflow-safe median calculation following Gemini review
  tests/test_parallel.cpp
Due: format, check-format

refactor(parallel): use reference capture for std::span in TBB lambda
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

refactor(parallel): modernize code with C++23 best practices
  include/evolab/parallel/tbb_executor.hpp
  tests/test_parallel.cpp
Due: format, check-format, lint

refactor(test): improve get_median lambda with explicit type specification
  tests/test_parallel.cpp
Due: format, check-format

docs(parallel): complete @throws documentation for exception propagation
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

fix(test): correct TSP evaluation complexity comment from O(N²) to O(N)
  tests/test_parallel.cpp
Due: format, check-format

refactor(parallel): remove unused base_seed_ following YAGNI principle
  include/evolab/parallel/tbb_executor.hpp
  tests/test_parallel.cpp
Due: format, check-format, lint

refactor(test): modernize parallel test code style following C++23 best practices
  tests/test_parallel.cpp
Due: format, check-format

refactor(parallel): adopt TBB default reference capture pattern
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

docs(parallel): clarify thread-safety requirement for Problem::evaluate()
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

refactor(parallel): use explicit lambda capture in TBB executor
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint

refactor(test): make get_median utility function self-contained
  tests/test_parallel.cpp
Due: format, check-format

refactor(test): remove redundant sorting in parallel benchmark
  tests/test_parallel.cpp
Due: format, check-format

perf(test): increase benchmark iterations from 3 to 5 for better statistical reliability
  tests/test_parallel.cpp
Due: format, check-format

revert(test): reject Gemini suggestion to increase benchmark_iterations to 5
  tests/test_parallel.cpp
Due: format, check-format

refactor(test): use explicit lambda captures following C++23 best practices
  tests/test_parallel.cpp
Due: format, check-format

refactor(test): improve test result aggregation readability in parallel tests
  tests/test_parallel.cpp
Due: format, check-format

refactor(test): improve get_median lambda comment accuracy
  tests/test_parallel.cpp
Due: format, check-format

docs(test): clarify benchmark warm-up methodology rationale
  tests/test_parallel.cpp
Due: format, check-format

fix(test): use distinct seed for warm-up population
  tests/test_parallel.cpp
Due: format, check-format

refactor(test): apply std::move for ownership transfer in get_median calls
  tests/test_parallel.cpp
Due: format, check-format

perf(test): replace std::endl with '\n' for better performance
  tests/test_parallel.cpp
Due: format, check-format

Update tests/test_parallel.cpp
  tests/test_parallel.cpp
Due: format, check-format

refactor(parallel): improve TBB executor documentation and code clarity
  include/evolab/parallel/tbb_executor.hpp
Due: format, check-format, lint
